.float {
	position:fixed;
	width:185px;
	height:60px;
	bottom:60px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}

.my-float {
	margin-top:16px;
}

#btn-whatsapp {
	font-size: smaller;
}

@media screen and (max-width: 768px) {
  	.float {
  		width: 150px;
		height: 35px;
		bottom: 65px;
		font-size: 23px;
  	}
  	.my-float {
		margin-top: 2px;
	}
}